.Shoes{
	padding: 0px;
	margin: 0px;
	background-color: #1d2c8c;
	background-position: center;
}
.Shoes ul{
	font-family: sans-serif;
	color: white;
	display: inline-flex;
	list-style-type: none;
	text-align: center;
}
.Shoes ul li{
	margin: 10px;
}
body a{
	text-decoration: none;
	color: red;
}

footer{
padding: 10px;
background-color:#8037ad;
margin: 0px;
background-position: center;
}
footer ul{
	list-style-type: none;
	text-align: left;
	margin: 0px;
}
footer ul li{
		display: inline;
	margin: 0px;
}