html, body{
	margin: 0px;
	min-width: 0%
}
::-webkit-scrollbar{
	display: none;
}
body{
	min-width: 0%;
	margin-top: 0;
	background-color: #212121;
}
a{
	text-decoration: none;
}
.Contaner{
	width: 100%;
	margin: 0 auto;
}
header{
	background-color: #f3ca20;
	margin-left: 0px;
}
header::after{
	display: table;
	content: '';
	clear: both;
}
nav{
	float: right;
}
nav ul{
	margin:10;
	padding: 5px;
	list-style: none;
}
nav li{
	display: inline-block;
	margin: 10px;
	margin-right: 50px;
}
nav a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-family: sans-serif;
}
a:hover{
	color: black;
}
.signup:hover{
	border-bottom: 1px solid black;

}
.login:hover{
	border-bottom: 1px solid black;
}
.about:hover{
	border-bottom: 1px solid black;
}
.header-img{
	size: 0px;
}
.Main-Page-About-Us{
	font-family: sans-serif;
	font-size: 50px;
	text-transform: uppercase;
	text-align: center;
	color: #f3ca20;
	position: relative;
	top: 250px;
	left: 100px
}
.Main-Page-About-Us button{
	border: 2px solid white;
	border-radius: 150px;
	background-color: transparent;
	border-color: white;
	font-size: 20px;
	position: relative;
	top: 50px;
	right: 240px;
	transition: background-color 2s;
}
.Main-Page-About-Us button a{
	color: white;
}
.Main-Page-About-Us button:hover{
	background-color: #f3ca20;
}
.Main-Page-About-Us a:hover{
	color:black;
}
.Main-Page-About-Us a{
	color: black;
	font-family: sans-serif;
}
.Name{
	color: #f3ca20;
	height: 400px;
	width: 1400px;
	background-color: transparent;
	font-family: sans-serif;
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	left: 0;
	top: 530px;
}
.Story {
	text-transform: initial;
	font-family: sans-serif;
	font-size: 40px;
	color:white;
}
