html{
	height: 100%
}
body{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
header ul{
	display: inline-flex;
}
header ul li{
	margin: 10px;
	list-style-type: none;
	text-decoration: none;
	color: black;
	font-family: sans-serif;
}
a{
	text-decoration: none;
	color: black;
}
.Login{
	padding: 0px;
	background-color: white;
	font-family: sans-serif;
	border: 2px solid black;
	margin: 1px;
	border-radius: 150px;
}
.Login:hover{
	background-color: #7ed689;
}
.Signup{
		padding: 0px;
	background-color: white;
	font-family: sans-serif;
	border: 2px solid black;
	margin: 1px;
	border-radius: 150px;
}
.Signup:hover{
	background-color: #7ed689;
}
p{
	text-align: center;
	font-family: sans-serif;
}
footer{
	margin-top: auto;
	padding: 15px;
	background-color: #999999
}
footer ul li{
	color: #fff;
	font-family: sans-serif;
	list-style-type: none;
	text-align: center;
	font-size: 15px;
}
